In [39]:
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import py_vollib
import decimal
import datetime
import numpy as np
import math
import pandas as pd
import datetime
import time
import json
from selenium import webdriver
import scipy
import seaborn as sn
import pandas_datareader as pdr
import yfinance as yf

In [2]:
yf.pdr_override();
FileIO=open('/Users/cedricyang/IRSG.json','r');
print(type(FileIO));
JsonDict:dict=json.load(FileIO);
StoragePD:pd.DataFrame=pd.json_normalize(JsonDict,record_path=['result','records']);
print(StoragePD.shape)
print(StoragePD['comp_sora_3m'].quantile([0.25,0.5,0.75,0.85,0.95,1]).to_dict());
display(StoragePD[:100]);

<class '_io.TextIOWrapper'>
(60, 6)
{0.25: 3.1747, 0.5: 3.2148, 0.75: 3.30025, 0.85: 3.45492, 0.95: 3.57882, 1.0: 3.6135}

,end_of_day,comp_sora_1m,comp_sora_3m,comp_sora_6m,aggregate_volume,timestamp
0,2023-04-06,NaN,NaN,NaN,NaN,1680788895
1,2023-04-05,3.6753,3.6135,3.3173,1549.0,1680788895
2,2023-04-04,3.6796,3.6042,3.3147,1402.0,1680788895
3,2023-04-03,3.6798,3.5907,3.3140,2977.0,1680788895
4,2023-03-31,3.6883,3.5775,3.3139,NaN,1680788895
5,2023-03-30,3.6828,3.5420,3.3275,1302.0,1680788895
6,2023-03-29,3.6840,3.5296,3.3254,3402.0,1680788895
7,2023-03-28,3.6763,3.5044,3.3254,2878.0,1680788895
8,2023-03-27,3.6813,3.4852,3.3210,2313.0,1680788895
9,2023-03-24,3.6866,3.4664,3.3166,2335.0,1680788895
10,2023-03-23,3.7129,3.4500,3.2969,1647.0,1680788895
11,2023-03-22,3.6975,3.4394,3.2875,1534.0,1680788895
12,2023-03-21,3.6871,3.4162,3.2775,735.0,1680788895
13,2023-03-20,3.6720,3.3901,3.2648,1085.0,1680788895
14,2023-03-17,3.6587,3.3668,3.2527,1872.0,1680788895
15,2023-03-16,3.6436,3.3084,3.2180,1951.0,1680788895
16,2023-03-15,3.6334,3.2921,3.2072,1823.0,1680788895
17,2023-03-14,3.6337,3.2810,3.1980,1943.0,1680788895
18,2023-03-13,3.6253,3.2602,3.1890,1820.0,1680788895
19,2023-03-10,3.6114,3.2415,3.1804,2865.0,1680788895
20,2023-03-09,3.6003,3.2143,3.1566,2043.0,1680788895
21,2023-03-08,3.5877,3.2090,3.1496,2404.0,1680788895
22,2023-03-07,3.5710,3.2053,3.1418,1465.0,1680788895
23,2023-03-06,3.5579,3.2055,3.1341,1552.0,1680788895
24,2023-03-03,3.5507,3.2035,3.1256,1272.0,1680788895
25,2023-03-02,3.5512,3.2116,3.0999,540.0,1680788895
26,2023-03-01,3.5505,3.2164,3.0913,2847.0,1680788895
27,2023-02-28,3.5511,3.2206,3.0833,1305.0,1680788895
28,2023-02-27,3.5828,3.2352,3.0618,2503.0,1680788895
29,2023-02-24,3.5820,3.2347,3.0525,2949.0,1680788895
30,2023-02-23,3.5545,3.2266,3.0213,1495.0,1680788895
31,2023-02-22,3.5522,3.2251,3.0127,1682.0,1680788895
32,2023-02-21,3.5572,3.2277,3.0061,1358.0,1680788895
33,2023-02-20,3.5609,3.2314,2.9994,856.0,1680788895
34,2023-02-17,3.5646,3.2321,2.9926,1769.0,1680788895
35,2023-02-16,3.5507,3.2214,2.9643,1808.0,1680788895
36,2023-02-15,3.5493,3.2148,2.9555,1452.0,1680788895
37,2023-02-14,3.5635,3.2103,2.9476,1354.0,1680788895
38,2023-02-13,3.5807,3.2084,2.9392,1021.0,1680788895
39,2023-02-10,3.5956,3.2090,2.9305,1702.0,1680788895
40,2023-02-09,3.5643,3.1989,2.8975,896.0,1680788895
41,2023-02-08,3.5804,3.1953,2.8895,1123.0,1680788895
42,2023-02-07,3.5831,3.1940,2.8823,1973.0,1680788895
43,2023-02-06,3.5853,3.1916,2.8751,1365.0,1680788895
44,2023-02-03,3.5774,3.1869,2.8663,2022.0,1680788895
45,2023-02-02,3.4599,3.1625,2.8316,1104.0,1680788895
46,2023-02-01,3.4266,3.1525,2.8213,3133.0,1680788895
47,2023-01-31,3.3930,3.1419,2.8113,1379.0,1680788895
48,2023-01-30,3.3496,3.1307,2.8018,1108.0,1680788895
49,2023-01-27,3.3073,3.1199,2.7924,2903.0,1680788895
50,2023-01-26,3.1235,3.0925,2.7631,1340.0,1680788895
51,2023-01-25,3.1095,3.0853,2.7528,1226.0,1680788895
52,2023-01-20,3.0944,3.0772,2.7424,784.0,1680788895
53,2023-01-19,2.8786,3.0549,2.6919,947.0,1680788895
54,2023-01-18,2.8189,3.0442,2.6823,1542.0,1680788895
55,2023-01-17,2.7767,3.0385,2.6727,808.0,1680788895
56,2023-01-16,2.7374,3.0328,2.6638,1439.0,1680788895
57,2023-01-13,2.7011,3.0298,2.6554,3483.0,1680788895
58,2023-01-12,2.5285,3.0115,2.6242,1377.0,1680788895
59,2023-01-11,2.5032,3.0057,2.6156,1042.0,1680788895

In [3]:
FileIO2=open('/Users/cedricyang/Deposit_SG.json','r');
print(type(FileIO2));
JsonDict2:dict=json.load(FileIO2);
StoragePD2:pd.DataFrame=pd.json_normalize(JsonDict2,record_path=['result','records']);
display(StoragePD2);

<class '_io.TextIOWrapper'>

,end_of_month,m2,m1,qm_fixed_deposits,qm_savings_deposits,timestamp
0,2021-02,1043306.7,457550.6,296907.5,271706.4,1680792376
1,2021-01,1039165.8,449051.2,303622.9,268306.2,1680792376
2,2020-12,1031099.8,436534.9,307898.1,267207.8,1680792376
3,2020-11,1049257.7,451253.5,316748.7,261708.0,1680792376
4,2020-10,1047901.3,444976.5,326204.0,257765.9,1680792376
5,2020-09,1029797.5,419268.1,336993.4,255214.5,1680792376
6,2020-08,1032180.2,419152.1,340171.2,254131.5,1680792376
7,2020-07,1038792.4,415179.4,350679.1,253516.8,1680792376
8,2020-06,1039498.5,404693.4,364493.0,248649.0,1680792376
9,2020-05,1030249.4,397292.9,366119.5,245179.1,1680792376
10,2020-04,1041043.2,385515.1,393821.5,240502.2,1680792376
11,2020-03,1005500.6,375653.4,374135.8,232539.0,1680792376
12,2020-02,970801.7,348661.4,371473.9,226946.8,1680792376
13,2020-01,963654.6,340354.1,374366.3,224623.4,1680792376

In [25]:
IO_FedRepo=open('/Users/cedricyang/FedNY.json','r');
FedRepo:dict=json.load(IO_FedRepo);
ResultsFrame:pd.DataFrame=pd.json_normalize(FedRepo,record_path=['repo','operations']);
DictTable:dict=ResultsFrame['totalAmtAccepted'].quantile([0.25,0.5,0.75,1]).to_dict();
#display(ResultsFrame[(ResultsFrame['operationType']=='Reverse Repo') & (ResultsFrame['totalAmtAccepted']>=2221010000000)]);
DictObjs:dict={'AMD RYZEN 7800X3D':499,'AMD RYZEN 7900X3D':599,'AMD RYZEN 7950X3D':799};

for iter in ResultsFrame['details'][0][0]:
    print(ResultsFrame['details'][0][0][iter]);
DictObjs=(dict)(ResultsFrame['details'][0][0]);
print(DictObjs);
print(ResultsFrame['details'][0][0]['securityType']);
print(type(ResultsFrame['operationDate'][0]));
print(type(ResultsFrame['operationDate'][1]));
print(ResultsFrame['operationDate'][1]);

Treasury
2221010000000
2221010000000
4.8
4.8
{'securityType': 'Treasury', 'amtSubmitted': 2221010000000, 'amtAccepted': 2221010000000, 'percentOfferingRate': 4.8, 'percentAwardRate': 4.8}
Treasury
<class 'str'>
<class 'str'>
2023-04-03

In [26]:
ResultsFrame['operationDate']=ResultsFrame['operationDate'].apply(lambda x:datetime.datetime.strptime(x,'%Y-%m-%d').date());
print(type(ResultsFrame['operationDate'][0]));

<class 'datetime.date'>

In [6]:
BrowserTwo=webdriver.Firefox();
BrowserTwo.get('https://www.set.or.th/en/market/statistics/short-sell');
print(BrowserTwo.title);
BrowserTwo.find_element(webdriver.common.by.By.XPATH,'//*[@id="__layout"]/div/div[2]/div[3]/div/div/div[2]/div/div[2]/button').click();
#DetectButton:webdriver.remote.webelement.WebElement=browser.find_element(webdriver.common.by.By.XPATH,'//button[normalize-space()="Export Excel"]').click();
time.sleep(15);

Short Selling - The Stock Exchange of Thailand

In [29]:
try:
    ThaiSS_DF:pd.DataFrame=pd.read_excel(io='/Users/cedricyang/Downloads/Short Sales_05-04-2023 to 05-04-2023.xlsx',engine='openpyxl',header=5,index_col=0);
    raise ValueError("Check Excel file format");
except ValueError as VError:
    print("Loading Previous file");
    ThaiSS_DF:pd.DataFrame=pd.read_excel(io='/Users/cedricyang/Downloads/Short Sales_31-03-2023 to 31-03-2023.xlsx',engine='openpyxl',header=5,index_col=0);
    pass;
ThaiSS_DF=ThaiSS_DF[:390];
[xRows,yCols]=ThaiSS_DF.shape;
print(ThaiSS_DF.columns.values);
ThaiSS_DF=ThaiSS_DF.reset_index();
display(ThaiSS_DF.sort_values(by='Turnover (Baht)',ascending=False));

Loading Previous file
['Volume (Shares)' 'Turnover (Baht)'
 '% Short Sale Volume Comparing with Auto Matching']

,Symbol,Volume (Shares),Turnover (Baht),% Short Sale Volume Comparing with Auto Matching
111,DELTA-R,181800.0,204351200.0,0.039007
110,DELTA,132200.0,148534500.0,0.028365
181,KBANK,1101000.0,146640350.0,0.108438
98,CPALL,2184000.0,136263825.0,0.105144
49,BBL,685100.0,105123900.0,0.053044
...,...,...,...,...
118,DUSIT-R,700.0,8050.0,0.013699
187,KEX-R,500.0,8000.0,0.000203
304,SKR-R,300.0,2745.0,0.003036
164,IP,100.0,1270.0,0.000187
203,LHFG,900.0,954.0,0.001212

In [41]:
browser=webdriver.Firefox();
browser.get('http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0203');
print(browser.title);
SearchResult=browser.find_element(webdriver.common.by.By.LINK_TEXT,'공매도 거래').click();
time.sleep(8);
browser.find_element(webdriver.common.by.By.LINK_TEXT,'공매도 거래 상위 50종목').click();
time.sleep(10);
browser.find_element(webdriver.common.by.By.CLASS_NAME,'CI-MDI-UNIT-DOWNLOAD').click();
#//*[@id="MDCSTAT308_FORM"]/div[2]/div[1]/p[2]/button[2]/img
time.sleep(5)
browser.find_element(webdriver.common.by.By.LINK_TEXT,'Excel').click();
time.sleep(5);

통계 - KRX | 정보데이터시스템

In [76]:
browserKRX=webdriver.Firefox();
browserKRX.get('http://data.krx.co.kr/contents/MDC/MAIN/main/index.cmd');
SearchResult=browserKRX.find_element(webdriver.common.by.By.XPATH,'/html/body/div[2]/section[1]/div[1]/div[2]/button').click();
time.sleep(5);
browserKRX.get('http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0203');
time.sleep(5);
browserKRX.find_element(webdriver.common.by.By.LINK_TEXT,'Short-selling summary').click();
time.sleep(5);
browserKRX.find_element(webdriver.common.by.By.LINK_TEXT,'Summary on Short-selling by issue').click();
time.sleep(5);
EnterTicker=browserKRX.find_element(webdriver.common.by.By.XPATH,'//*[@id="tboxisuCd_finder_srtisu0_0"]').send_keys('SK Hynix');
time.sleep(3);
browserKRX.find_element(webdriver.common.by.By.XPATH,'//*[@id="tboxisuCd_finder_srtisu0_0"]').send_keys(webdriver.common.keys.Keys.ENTER);

In [63]:
BrowserNasdaq=webdriver.Firefox();
BrowserNasdaq.get('https://www.nasdaq.com/market-activity/daily-market-statistics');
print(BrowserNasdaq.title);
BrowserNasdaq.execute_script("window.scrollTo(0,45);");
time.sleep(5);
BrowserNasdaq.find_element(webdriver.common.by.By.XPATH,'/html/body/div[3]/div/main/div[2]/article/div[2]/div/div[3]/div[3]/div').location_once_scrolled_into_view);
time.sleep(5);
#<h2 class="module-header daily-market-statistics__header--nasdaq-block-trades">Number of Block Trades</h2>

Daily Market Statistics | Nasdaq

In [ ]:
StockData:pd.DataFrame=pdr.data.get_data_yahoo(['COF','MU','NG=F','VLO'],start='2000-01-03',end='2023-03-30');
StaticData:pd.DataFrame=pdr.data.get_quote_yahoo(['COF','MU','VLO'])[['sharesOutstanding','marketCap']];
#Adjust the dataframe by Dates (latest to earliest)
StockData=StockData[::-1];
StockData=StockData.reset_index();
display(StockData[:10]);

In [ ]:
print(type(StockData[('Date','')]));
print(type(StockData[('Date','')][0]));
print(StockData[('Date','')][0]);
StockData[('Date','')]=StockData[('Date','')].apply(lambda x:datetime.date(x.year,x.month,x.day));
DictList:list=[dict for i in range(3)];
DictList[0]:dict=StockData[('Adj Close','MU')].quantile([0.25,0.5,0.75,0.85,0.95,1]).to_dict();
DictList[1]:dict=StockData[('Adj Close','COF')].quantile([0.25,0.5,0.75,0.85,0.95,1]).to_dict();
DictList[2]:dict=StockData[('Adj Close','VLO')].quantile([0.25,0.5,0.75,0.85,0.95,1]).to_dict();
print(DictList);
print(StockData[('Adj Close','MU')].mean());
print(StockData[('Adj Close','COF')].mean());
print(StockData[('Adj Close','VLO')].mean());

In [ ]:
vloDF:pd.DataFrame=StockData[[('Date',''),('Adj Close','VLO'),('Volume','VLO')]];
vloDF['Notional Traded']=vloDF[('Adj Close','VLO')]*vloDF[('Volume','VLO')];
vloDF['Trade Price']=vloDF['Notional Traded'] / 367840000;

In [81]:
#Option pricing with Black Scholes
FuncPtr=scipy.stats.norm.cdf;
CdfCompute:np.float64=FuncPtr(1.0781475);
print(scipy.stats.norm.pdf);

def BS_CALL(SpotPx:float,Kpx:float,Theta:float,rf:float,vols:float):
    d1=(np.log(SpotPx/Kpx)+ (rf + 0.5*vols**2)*Theta) / (vols*np.sqrt(Theta));
    d2=d1-vols*np.sqrt(Theta);
    return FuncPtr(d1)*SpotPx-FuncPtr(d2) * Kpx * np.exp(-rf*Theta);

def BS_PUT(SpotPx:float,Kpx:float,Theta:float,rf:float,vols:float):
    d1=(np.log(SpotPx/Kpx)+ (rf + 0.5*vols**2)*Theta) / (vols*np.sqrt(Theta));
    d2=d1-vols*np.sqrt(Theta);
    return FuncPtr(-d2)*Kpx *np.exp(-rf*Theta)-FuncPtr(-d1) * SpotPx;

def BS_VEGA(SpotPx:float,Kpx:float,Theta:float,rf:float,vols:float):
    d1=(np.log(SpotPx/Kpx)) + (r+0.5*sigma**2)

<bound method rv_continuous.pdf of <scipy.stats._continuous_distns.norm_gen object at 0x7faca9966310>>

In [85]:
#MACROS IN PYTHON
ONE_CENT=0.01;
step=0.0001;
def Brute_Force(c_p:str,SpotPx:float,Kpx:float,rf:float,Theta:float,Opt_MktPx:float):
    _sigma:float=0.5;
    for i in range(100000):
        bs_price=BS_PUT(SpotPx,Kpx,rf,Theta,vols=_sigma);
        diff=Opt_MktPx - bs_price;
        if diff > ONE_CENT:
            _sigma = _sigma + step;
            pass;
        elif (diff < 0 and abs(diff) > ONE_CENT):
            _sigma = _sigma - step;
        elif (abs(diff) < ONE_CENT):
            return _sigma;
    return _sigma;

print(Brute_Force('p',10.95,5,0.0483,(110/365),Opt_MktPx=0.375));

3.3467000000026768

In [ ]:
#vega Finite Difference
def vega(SpotPx:float,StrikePx:float,TimePeriod:float,sigma:float):
    N_Prime = scipy.stats.norm.pdf;
    return;