In [1]:
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import py_vollib
import decimal
import datetime
import numpy as np
import math
import pandas as pd
import datetime
import time
import json
import sys
import openpyxl
from selenium import webdriver
import scipy
import seaborn as sn
import pandas_datareader as pdr
import yfinance as yf

In [2]:
yf.pdr_override();
FileIO=open('/Users/cedricyang/IRSG.json','r');
print(type(FileIO));
JsonDict:dict=json.load(FileIO);
StoragePD:pd.DataFrame=pd.json_normalize(JsonDict,record_path=['result','records']);
print(StoragePD.shape)
print(StoragePD['comp_sora_3m'].quantile([0.25,0.5,0.75,0.85,0.95,1]).to_dict());
display(StoragePD[:80][StoragePD['comp_sora_3m']>3.20]);

<class '_io.TextIOWrapper'>
(500, 6)
{0.25: 0.1625, 0.5: 0.2957, 0.75: 2.18745, 0.85: 3.0307, 0.95: 3.2280699999999998, 1.0: 3.6156}

/var/folders/rx/v395xfy959n8xn9cpkxbqbk80000gn/T/ipykernel_28997/1925590347.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  display(StoragePD[:80][StoragePD['comp_sora_3m']>3.20]);

,end_of_day,comp_sora_1m,comp_sora_3m,comp_sora_6m,aggregate_volume,timestamp
1,2023-04-10,3.6302,3.6127,3.3202,1288.0,1681211190
2,2023-04-06,3.6497,3.6156,3.3189,1086.0,1681211190
3,2023-04-05,3.6753,3.6135,3.3173,1549.0,1681211190
4,2023-04-04,3.6796,3.6042,3.3147,1402.0,1681211190
5,2023-04-03,3.6798,3.5907,3.3140,2977.0,1681211190
6,2023-03-31,3.6883,3.5775,3.3139,NaN,1681211190
7,2023-03-30,3.6828,3.5420,3.3275,1302.0,1681211190
8,2023-03-29,3.6840,3.5296,3.3254,3402.0,1681211190
9,2023-03-28,3.6763,3.5044,3.3254,2878.0,1681211190
10,2023-03-27,3.6813,3.4852,3.3210,2313.0,1681211190
11,2023-03-24,3.6866,3.4664,3.3166,2335.0,1681211190
12,2023-03-23,3.7129,3.4500,3.2969,1647.0,1681211190
13,2023-03-22,3.6975,3.4394,3.2875,1534.0,1681211190
14,2023-03-21,3.6871,3.4162,3.2775,735.0,1681211190
15,2023-03-20,3.6720,3.3901,3.2648,1085.0,1681211190
16,2023-03-17,3.6587,3.3668,3.2527,1872.0,1681211190
17,2023-03-16,3.6436,3.3084,3.2180,1951.0,1681211190
18,2023-03-15,3.6334,3.2921,3.2072,1823.0,1681211190
19,2023-03-14,3.6337,3.2810,3.1980,1943.0,1681211190
20,2023-03-13,3.6253,3.2602,3.1890,1820.0,1681211190
21,2023-03-10,3.6114,3.2415,3.1804,2865.0,1681211190
22,2023-03-09,3.6003,3.2143,3.1566,2043.0,1681211190
23,2023-03-08,3.5877,3.2090,3.1496,2404.0,1681211190
24,2023-03-07,3.5710,3.2053,3.1418,1465.0,1681211190
25,2023-03-06,3.5579,3.2055,3.1341,1552.0,1681211190
26,2023-03-03,3.5507,3.2035,3.1256,1272.0,1681211190
27,2023-03-02,3.5512,3.2116,3.0999,540.0,1681211190
28,2023-03-01,3.5505,3.2164,3.0913,2847.0,1681211190
29,2023-02-28,3.5511,3.2206,3.0833,1305.0,1681211190
30,2023-02-27,3.5828,3.2352,3.0618,2503.0,1681211190
31,2023-02-24,3.5820,3.2347,3.0525,2949.0,1681211190
32,2023-02-23,3.5545,3.2266,3.0213,1495.0,1681211190
33,2023-02-22,3.5522,3.2251,3.0127,1682.0,1681211190
34,2023-02-21,3.5572,3.2277,3.0061,1358.0,1681211190
35,2023-02-20,3.5609,3.2314,2.9994,856.0,1681211190
36,2023-02-17,3.5646,3.2321,2.9926,1769.0,1681211190
37,2023-02-16,3.5507,3.2214,2.9643,1808.0,1681211190
38,2023-02-15,3.5493,3.2148,2.9555,1452.0,1681211190
39,2023-02-14,3.5635,3.2103,2.9476,1354.0,1681211190
40,2023-02-13,3.5807,3.2084,2.9392,1021.0,1681211190
41,2023-02-10,3.5956,3.2090,2.9305,1702.0,1681211190

In [3]:
FileIO2=open('/Users/cedricyang/Deposit_SG.json','r');
print(type(FileIO2));
JsonDict2:dict=json.load(FileIO2);
StoragePD2:pd.DataFrame=pd.json_normalize(JsonDict2,record_path=['result','records']);
display(StoragePD2);

<class '_io.TextIOWrapper'>

,end_of_month,m2,m1,qm_fixed_deposits,qm_savings_deposits,timestamp
0,2021-02,1043306.7,457550.6,296907.5,271706.4,1680792376
1,2021-01,1039165.8,449051.2,303622.9,268306.2,1680792376
2,2020-12,1031099.8,436534.9,307898.1,267207.8,1680792376
3,2020-11,1049257.7,451253.5,316748.7,261708.0,1680792376
4,2020-10,1047901.3,444976.5,326204.0,257765.9,1680792376
5,2020-09,1029797.5,419268.1,336993.4,255214.5,1680792376
6,2020-08,1032180.2,419152.1,340171.2,254131.5,1680792376
7,2020-07,1038792.4,415179.4,350679.1,253516.8,1680792376
8,2020-06,1039498.5,404693.4,364493.0,248649.0,1680792376
9,2020-05,1030249.4,397292.9,366119.5,245179.1,1680792376
10,2020-04,1041043.2,385515.1,393821.5,240502.2,1680792376
11,2020-03,1005500.6,375653.4,374135.8,232539.0,1680792376
12,2020-02,970801.7,348661.4,371473.9,226946.8,1680792376
13,2020-01,963654.6,340354.1,374366.3,224623.4,1680792376

In [4]:
IO_FedRepo=open('/Users/cedricyang/FedNY.json','r');
FedRepo:dict=json.load(IO_FedRepo);
ResultsFrame:pd.DataFrame=pd.json_normalize(FedRepo,record_path=['repo','operations']);
DictTable:dict=ResultsFrame['totalAmtAccepted'].quantile([0.25,0.5,0.75,1]).to_dict();
#display(ResultsFrame[(ResultsFrame['operationType']=='Reverse Repo') & (ResultsFrame['totalAmtAccepted']>=2221010000000)]);
DictObjs:dict={'AMD RYZEN 7800X3D':499,'AMD RYZEN 7900X3D':599,'AMD RYZEN 7950X3D':799};

for iter in ResultsFrame['details'][0][0]:
    print(ResultsFrame['details'][0][0][iter]);
DictObjs=(dict)(ResultsFrame['details'][0][0]);
print(DictObjs);
print(ResultsFrame['details'][0][0]['securityType']);
print(type(ResultsFrame['operationDate'][0]));
print(type(ResultsFrame['operationDate'][1]));
print(ResultsFrame['operationDate'][1]);

Treasury
2221010000000
2221010000000
4.8
4.8
{'securityType': 'Treasury', 'amtSubmitted': 2221010000000, 'amtAccepted': 2221010000000, 'percentOfferingRate': 4.8, 'percentAwardRate': 4.8}
Treasury
<class 'str'>
<class 'str'>
2023-04-03

In [38]:
ListIndicer:list=[i for i in range(10)];
try:
    ListIndicer[10];
except IndexError as Iderr:
    print(Iderr.args, " | ",type(Iderr));
    pass;

('list index out of range',)  |  <class 'IndexError'>

In [5]:
ResultsFrame['operationDate']=ResultsFrame['operationDate'].apply(lambda x:datetime.datetime.strptime(x,'%Y-%m-%d').date());
print(type(ResultsFrame['operationDate'][0]));

<class 'datetime.date'>

In [6]:
FileIOchecks=open('/Users/cedricyang/Downloads/Short Sales_10-04-2023 to 10-04-2023.xls','r');
print(FileIOchecks);
print(FileIOchecks.name)

<_io.TextIOWrapper name='/Users/cedricyang/Downloads/Short Sales_10-04-2023 to 10-04-2023.xls' mode='r' encoding='UTF-8'>
/Users/cedricyang/Downloads/Short Sales_10-04-2023 to 10-04-2023.xls

In [7]:
BrowserTwo=webdriver.Firefox();
BrowserTwo.get('https://www.set.or.th/en/market/statistics/short-sell');
print(BrowserTwo.title);
BrowserTwo.find_element(webdriver.common.by.By.XPATH,'//*[@id="__layout"]/div/div[2]/div[3]/div/div/div[2]/div/div[2]/button').click();
#DetectButton:webdriver.remote.webelement.WebElement=browser.find_element(webdriver.common.by.By.XPATH,'//button[normalize-space()="Export Excel"]').click();
time.sleep(5);

Short Selling - The Stock Exchange of Thailand

In [42]:
try:
    print('/Users/cedricyang/');
    ThaiSS_DF:pd.DataFrame=pd.read_excel(io='/Users/cedricyang/Downloads/Short Sales_10-04-2023 to 10-04-2023.xlsx',engine='openpyxl',header=5,index_col=0);
except ValueError as VError:
    lval_error=VError.args;
    print(lval_error, " ", type(lval_error));
    print("Loading Previous file");
    ThaiSS_DF:pd.DataFrame=pd.read_excel(io='/Users/cedricyang/Downloads/Short Sales_07-04-2023 to 07-04-2023.xlsx',engine='openpyxl',header=5,index_col=0);
    pass;

ThaiSS_DF=ThaiSS_DF[:300];
ThaiSS_DF=ThaiSS_DF.reset_index();
#Removed irrelevant rows
[xRows,yCols]=ThaiSS_DF.shape;
print(ThaiSS_DF.columns.values);
display(ThaiSS_DF.sort_values(by='Turnover (Baht)',ascending=False));

/Users/cedricyang/
['Symbol' 'Volume (Shares)' 'Turnover (Baht)'
 '% Short Sale Volume Comparing with Auto Matching']

,Symbol,Volume (Shares),Turnover (Baht),% Short Sale Volume Comparing with Auto Matching
57,BDMS,6630300.0,202120225.0,0.145988
137,GULF,2271400.0,121088200.0,0.099113
114,EA,1596500.0,118630400.0,0.126150
96,CPALL,1785900.0,110132025.0,0.063078
173,KBANK-R,801000.0,106025150.0,0.066304
...,...,...,...,...
270,SABUY-R,300.0,3180.0,0.000028
116,EASTW-R,600.0,2964.0,0.002852
268,SABINA-R,100.0,2675.0,0.000928
236,PRM-R,100.0,745.0,0.000033
195,LHFG,300.0,318.0,0.000043

In [10]:
browser=webdriver.Firefox();
browser.get('http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0203');
print(browser.title);
SearchResult=browser.find_element(webdriver.common.by.By.LINK_TEXT,'공매도 거래').click();
time.sleep(8);
browser.find_element(webdriver.common.by.By.LINK_TEXT,'공매도 거래 상위 50종목').click();
time.sleep(10);
browser.find_element(webdriver.common.by.By.CLASS_NAME,'CI-MDI-UNIT-DOWNLOAD').click();
#//*[@id="MDCSTAT308_FORM"]/div[2]/div[1]/p[2]/button[2]/img
time.sleep(5)
browser.find_element(webdriver.common.by.By.LINK_TEXT,'Excel').click();
time.sleep(5);

통계 - KRX | 정보데이터시스템

In [ ]:
browserKRX=webdriver.Firefox();
browserKRX.get('http://data.krx.co.kr/contents/MDC/MAIN/main/index.cmd');
SearchResult=browserKRX.find_element(webdriver.common.by.By.XPATH,'/html/body/div[2]/section[1]/div[1]/div[2]/button').click();
time.sleep(5);
browserKRX.get('http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0203');
time.sleep(5);
browserKRX.find_element(webdriver.common.by.By.LINK_TEXT,'Short-selling summary').click();
time.sleep(5);
browserKRX.find_element(webdriver.common.by.By.LINK_TEXT,'Summary on Short-selling by issue').click();
time.sleep(5);
EnterTicker=browserKRX.find_element(webdriver.common.by.By.XPATH,'//*[@id="tboxisuCd_finder_srtisu0_0"]').send_keys('SK Hynix');
time.sleep(3);
browserKRX.find_element(webdriver.common.by.By.XPATH,'//*[@id="tboxisuCd_finder_srtisu0_0"]').send_keys(webdriver.common.keys.Keys.ENTER);

In [ ]:
BrowserNasdaq=webdriver.Firefox();
BrowserNasdaq.get('https://www.nasdaq.com/market-activity/daily-market-statistics');
print(BrowserNasdaq.title);
BrowserNasdaq.execute_script("window.scrollTo(0,45);");
time.sleep(5);
BrowserNasdaq.find_element(webdriver.common.by.By.XPATH,'/html/body/div[3]/div/main/div[2]/article/div[2]/div/div[3]/div[3]/div').location_once_scrolled_into_view);
time.sleep(5);
#<h2 class="module-header daily-market-statistics__header--nasdaq-block-trades">Number of Block Trades</h2>

In [ ]:
StockData:pd.DataFrame=pdr.data.get_data_yahoo(['COF','MU','NG=F','VLO'],start='2000-01-03',end='2023-03-30');
StaticData:pd.DataFrame=pdr.data.get_quote_yahoo(['COF','MU','VLO'])[['sharesOutstanding','marketCap']];
#Adjust the dataframe by Dates (latest to earliest)
StockData=StockData[::-1];
StockData=StockData.reset_index();
display(StockData[:10]);

In [ ]:
print(type(StockData[('Date','')]));
print(type(StockData[('Date','')][0]));
print(StockData[('Date','')][0]);
StockData[('Date','')]=StockData[('Date','')].apply(lambda x:datetime.date(x.year,x.month,x.day));
DictList:list=[dict for i in range(3)];
DictList[0]:dict=StockData[('Adj Close','MU')].quantile([0.25,0.5,0.75,0.85,0.95,1]).to_dict();
DictList[1]:dict=StockData[('Adj Close','COF')].quantile([0.25,0.5,0.75,0.85,0.95,1]).to_dict();
DictList[2]:dict=StockData[('Adj Close','VLO')].quantile([0.25,0.5,0.75,0.85,0.95,1]).to_dict();
print(DictList);
print(StockData[('Adj Close','MU')].mean());
print(StockData[('Adj Close','COF')].mean());
print(StockData[('Adj Close','VLO')].mean());

In [ ]:
vloDF:pd.DataFrame=StockData[[('Date',''),('Adj Close','VLO'),('Volume','VLO')]];
vloDF['Notional Traded']=vloDF[('Adj Close','VLO')]*vloDF[('Volume','VLO')];
vloDF['Trade Price']=vloDF['Notional Traded'] / 367840000;

In [ ]:
#Option pricing with Black Scholes
FuncPtr=scipy.stats.norm.cdf;
CdfCompute:np.float64=FuncPtr(1.0781475);
print(scipy.stats.norm.pdf);

def BS_CALL(SpotPx:float,Kpx:float,Theta:float,rf:float,vols:float):
    d1=(np.log(SpotPx/Kpx)+ (rf + 0.5*vols**2)*Theta) / (vols*np.sqrt(Theta));
    d2=d1-vols*np.sqrt(Theta);
    return FuncPtr(d1)*SpotPx-FuncPtr(d2) * Kpx * np.exp(-rf*Theta);

def BS_PUT(SpotPx:float,Kpx:float,Theta:float,rf:float,vols:float):
    d1=(np.log(SpotPx/Kpx)+ (rf + 0.5*vols**2)*Theta) / (vols*np.sqrt(Theta));
    d2=d1-vols*np.sqrt(Theta);
    return FuncPtr(-d2)*Kpx *np.exp(-rf*Theta)-FuncPtr(-d1) * SpotPx;

def BS_VEGA(SpotPx:float,Kpx:float,Theta:float,rf:float,vols:float):
    d1=(np.log(SpotPx/Kpx)) + (r+0.5*sigma**2)

In [ ]:
#MACROS IN PYTHON
ONE_CENT=0.01;
step=0.0001;
def Brute_Force(c_p:str,SpotPx:float,Kpx:float,rf:float,Theta:float,Opt_MktPx:float):
    _sigma:float=0.5;
    for i in range(100000):
        bs_price=BS_PUT(SpotPx,Kpx,rf,Theta,vols=_sigma);
        diff=Opt_MktPx - bs_price;
        if diff > ONE_CENT:
            _sigma = _sigma + step;
            pass;
        elif (diff < 0 and abs(diff) > ONE_CENT):
            _sigma = _sigma - step;
        elif (abs(diff) < ONE_CENT):
            return _sigma;
    return _sigma;

print(Brute_Force('p',10.95,5,0.0483,(110/365),Opt_MktPx=0.375));

In [ ]:
#vega Finite Difference
def vega(SpotPx:float,StrikePx:float,TimePeriod:float,sigma:float):
    N_Prime = scipy.stats.norm.pdf;
    return;